div {
    background-image: repeating-radial-gradient(blue,black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font-style: italic;
    text-shadow: 4px 4px 0 black, 4px -4px 0 black, -4px 4px 0 black, -4px -4px 0 black;
    color: purple;
    text-align: center;
    outline-color: azure;
}
.main-header {
    background-image: repeating-radial-gradient(
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black,
        forestgreen,black,blue,black,red,black,yellow,black)
}