/*Name: Vert, David; Assignment-Name: About a Prouct; File-Name: style.css, linked product.html; Date-Due: 2/6/2018; Last Edited: 27 of 02 in 2018;*/
img {
    padding: .45% .45% .45% .45%;
	width: 5%;
}
.Company_Name {
    text-shadow: 0px 0px 3.2px lime;
    color-interpolation: linearRGB;
    font-weight: 200;
    color: plum;
    color-interpolation: sRGB;
}
.flair {
    color: crimson;
    text-shadow: 0px 0px 5.6px black;
    font-weight: 200;
}
.quote {
    color: violet;
    font-weight: 900;
    text-shadow: 0px 0px 5.2px magenta;
}
body {
	background-color: darkolivegreen;
	color: azure;
	border: 5px groove black;
	text-align: center;
	padding: 1% 1% 1% 1%;
}
.sub {
    padding: 4.5%;
    font-size: 165%;
    color: cyan;
    box-sizing: border-box;
}
.sub img {
    width: 45%;
    margin: 3%;
}
.sub header, .sub footer {
    padding: 2%;
    font-size: 165%;
    width: auto;
    color: azure;
    background-color: black;
    border: outset 5px limegreen;
}
.sub p {
    background-color: darkgreen;
    border: inset 5px rgba(128, 0, 255, 0.96);
    padding: 2%;
    width: auto;
}